
 #map {
    width: 500px;
    height: 400px;
  }

  #infoPanel {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
   
#longitude {
  width: 130px;
}   

#latitude {
  width: 130px;
}